.goback {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: font-size 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: rgb(141, 137, 137);
}

.goback:hover {
    font-size: 28px;
}


img{
    height: 450px;
    width: 450px;
    border: solid  rgb(155, 215, 184)24px;
    margin-top: 30px;
}

.part1{
    margin-left: 50px;
}

.part2{
    height: 650px;
    width: 650px;
    position: absolute;
    top: 20px;
    right: 70px;
    font-size: 18px;  
    color: rgb(24, 98, 73) ;   
}


body{
    background-color: rgb(208, 242, 221);
    color: rgb(24, 98, 73) ;
    
}

h2{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(24, 98, 73)  ;
}

span{
    color:rgb(208, 242, 221) ;
}







/*#div1{
    width: 1000px;
    height: 1500px;
    margin-left: 18.3%; margin-right: 33.3%;
    background-color: rgb(155, 215, 184);
    color: rgb(24, 98, 73) ;
}

#div2{
    margin-left: 4.3%; margin-right: 33.3%; margin-top: 5%;
}

img{
    width: 900px;
    height: 600px;
    margin-left: 4.3%; margin-right: 33.3%; margin-top: 5%;
}

body{
    background-color: rgb(208, 242, 221);
}
