body{
    background: linear-gradient(to right, #1a79d2, #b61dd4 95%);
}

h1, h3{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 2.7em;
}

h3{
    margin-bottom: 4%;
    font-size: 1.7em;
}

#navigation{
    height: 6vh;
    border: 2px solid black;

}

#search-bar{
  height: 3.1vh;
  width: 15vw;
  font-size: 0.9em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  float: right;
  position: relative;
  top: 11%;
  right: 10%;

}

#center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sign-in-inputs {
    font-size: 1.6em;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  label {
    color: orange;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: Consolas;
    font-size: 1.1em;
  }

  #dates{
    width: 22vw;
    font-size: 1.3em;
  }

  #sign-in-button {
    border-radius: 50px;
    background: linear-gradient(to right, purple, orange);
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    cursor: pointer;
  }
  
    